@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.container {
  //   border: 2px solid yellow;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(#b7e4c7 60%, #1b4332);
}

* {
  font-family: "Inter";
  font-weight: 550;
}
